Data/*
*.zip
*.png
*.PNG
*.jpg
*.JPG


GradCam/*

*.pyc
*.pyo

# Big EDA files
EDA/SAIDAS/03-batch_summary.csv
EDA/SAIDAS/04-csv_summary.csv


# Big .npz files
Output/CompareFineGrainedModelsSingleVsMultipleWithSHAPOffice/fine_grained_trainedon_ClassroomOffice_m1m2m3_242-fixed.h5_gradcam_and_embeddings.npz
Output/CompareFineGrainedModelsSingleVsMultipleWithSHAPOffice/fine_grained_trainedon_Office_m1_242.h5_gradcam_and_embeddings.npz
Output/CompareFineGrainedModelsSingleVsMultiple/fine_grained_trainedon_Classroom_m1_242.h5_gradcam_and_embeddings.npz
Output/CompareFineGrainedModelsSingleVsMultipleWithSHAP/fine_grained_trainedon_ClassroomOffice_m1m2m3_242-fixed.h5_gradcam_and_embeddings.npz
Output/CompareFineGrainedModelsSingleVsMultipleWithSHAP/fine_grained_trainedon_Classroom_m1_242.h5_gradcam_and_embeddings.npz